<html lang="en">
<head>
    <slot name="head" />
</head>
<body class="font-sans antialiased min-h-screen" style="background-color:#0f0f0f;color:#e2e2e2;">
    <div class="transition-colors">
        <main class="mx-auto max-w-4xl px-4 md:px-0">
            <slot />
        </main>
    </div>
</body>
</html>
