---
    import { SITE } from '$/config'
---
<footer class="footer">
    <nav class="nav">
        <div>Copyright &copy; {new Date().getFullYear()} { SITE.name } | All rights reserved.</div>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>
